.policy-valid {
    
    background-color: rgba(119, 246, 119, 0.305);
}

.policy-no-valid {
    background-color: rgba(202, 202, 202, 0.305);
}

.policy-w{
    border-radius: 10px; 
    padding: 0px; 
    margin: 0px;
}