[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = PE
ST  = LIMA
L   = LIMA
O   = araguaney
OU  = authz-opa
 

[req_ext]
subjectAltName=@alt_names
basicConstraints=CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
 
[alt_names]
DNS.1 = admission-controller
DNS.2 = admission-controller.authz-opa
DNS.3 = admission-controller.authz-opa.svc
DNS.4 = admission-controller.authz-opa.svc.cluster.local
